[submodule "reference/original_stage0"]
	path = reference/original_stage0
	url = https://github.com/oriansj/stage0.git
[submodule "reference/riscv-opcodes"]
	path = reference/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
